:root {
	--primary-color-1: #fafcff;
	--primary-color-2: #e9eefa;
	--heading-color: #3a3f4d;
	--heading-color-opacity-less: #3a3f4d5c;
	--secondary-color: #dc3466;
	--primary-color-2-opacity-0: #e9eefa00;
}
